{% extends 'layouts/base.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-md-center">
        {% for bundle, b_count in bundlecount.items()%}
        <div class="col-md-auto">
            <div class="card mt-5 text-dark shadow-lg" style="width: 15rem; height: 7rem;">
                <div class="card-header" style="background-color: #ece685;">{{bundle}}</div>
                <div class="card-body" style="background-color: #e6f1b7;">
                    <p class="card-text">Course Count: {{b_count}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="div container mt-5">
    <div class="panel panel-default shadow-lg">
        <div class="panel-heading">
            <p class="text-white" style="font-size: larger; font-weight: bolder;text-align: center;">Courses</p>
        </div>
        <div class="panel-body">
            <table class="table table-condensed table-striped">
                <thead>
                    <tr class="text-white">
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Mode</th>
                        <th scope="col">Bundle Name</th>
                        <th scope="col">Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for courseno, coursename, coursemode, coursebundlename, courseprice in
                    coursesdata%}
                    <tr class="text-white">
                        <th scope="row">{{courseno}}</th>
                        <td>{{coursename}}</td>
                        <td>{{coursemode}}</td>
                        <td>{{coursebundlename}}</td>
                        <td>{{courseprice}}</td>
                        <td>
                            <a class="btn btn-primary text-dark" href="/course/{{coursename.replace(' ','-')}}"
                                role="link" style="background: linear-gradient(to bottom right, #00ccff 0%, #ccff33 100%);">View</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}